language: python
python:
- '3.4'
- '3.5'
- '3.6'
sudo: false
install:
- pip install -r python-requirements.txt
- pip install -e .
script:
- PYTHONPATH=amos3 py.test --cov amos3 --pylint --pylint-rcfile=.pylintrc tests
after_success:
- coveralls
